body {
    background-color: #9572d6;
}   
nav {
    background-color:rgb(180, 135, 232);
}
.navbar-brand {
    margin-left: 40%;
}
.lead {
    background-color: rgb(120, 1, 231);
    color: rgb(199, 202, 206);
    padding: 3%;
    margin: 5%;
    
}
.card{
    background-color: rgb(180, 160, 228);
    align-items: center;
    width: 50%;
    margin-left: 25%;

}
.card1{
    background-color: rgb(219, 180, 255);
    margin-left: 3%;
    margin-top: 5%;;
}