body {
    background-color: #9572d6;
}   
nav {
    background-color:rgb(180, 135, 232);
}
.navbar-brand {
    margin-left: 40%;
}
p {
    background-color: rgb(120, 1, 231);
    color: rgb(199, 202, 206);
    padding: 3%;
    margin: 10%
}